/* font */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600;700&family=M+PLUS+1+Code:wght@400;500;600&family=Poppins:wght@400;500;600&family=Quicksand:wght@300;400;500;600&display=swap');

/* Base */

:root {
    --header-height: 70px;
    /* color */
    /*Color mode HSL*/
    --color-hue: 240;
    --primary-color: hsl(var(--color-hue), 1%, 19%);
    --primary-color-one: hsl(var(--color-hue), 1%, 87%);
    --primary-color-two: hsl(var(--color-hue), 11%, 96%);
    --primary-color-three: hsl(var(--color-hue), 33%, 99%);
    --title-color: hsl(var(--color-hue), 72%, 46%);
    --text-color: hsl(var(--color-hue), 0%, 0%);
    --transparancy-color1: hsl(var(--color-hue), 11%, 96%, 0.06);
    --transparancy-color2: hsl(var(--color-hue), 11%, 96%, .4);
    --transparancy-color3: hsl(var(--color-hue), 11%, 96%, .6);
    --transparancy-color4: hsl(var(--color-hue), 11%, 96%, 10);
    /* Font and typography*/
    /* 
        conver font:
        cek web: https://type-scale.com/ 
        1rem=16px, 1.5rem = 24px...
    */
    --body-font: 'Inconsolata', monospace;
    --h1-font-size: 2.1rem;
    --h2-font-size: 1.6rem;
    --h3-font-size: 1.35rem;
    --bigt-font-size: 2.401rem;
    --normal-font-size: 1.038rem;
    --small-font-size: .913rem;
    --smaller-font-size: .805rem;
    /*Font weight*/
    --font-light: 300;
    --font-reguler: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    /*Margin*/
    /* 8px = .5rem, 16px = 1rem , 68px = 4.25rem*/
    --m-0-25: 0.25rem;
    --m-0-5: 0.5rem;
    --m-0-75: 0.75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    --m-3: 3rem;
    --m-8: 8rem;
    /*z index*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/* Css reset */

a {
    text-decoration: none;
}

menu,
ol,
ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
}

textarea {
    white-space: revert;
}

::placeholder {
    color: unset;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* styling */

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--primary-color-three);
    color: var(--text-color);
    line-height: 1.6;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    color: var(--text-color);
    font-weight: var(--font-bold);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}


/*style layout*/

.container-margin {
    max-width: 768px;
    margin-left: var(--m-1-5);
    margin-right: var(--m-1-5);
}


/* Styling button */


/* CSS */

.button {
    appearance: button;
    background-color: var(--title-color);
    border: 1px solid var(--title-color);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--primary-color-one);
    cursor: pointer;
    font-size: var(--small-font-size);
    line-height: 1.15;
    overflow: visible;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 10ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
}

.button:disabled {
    opacity: .5;
}

.button:focus {
    outline: 0;
}

.button:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.button:active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


/* style container */

.main {
    overflow: hidden;
}

.section {
    padding-top: var(--header-height);
}

.section__header {
    margin-bottom: 5rem;
    grid-area: section__header;
}

.section__title {
    text-align: center;
    color: var(--text-color);
}

.section__subtitle {
    color: var(--primary-color);
    font-weight: var(--font-reguler);
    text-align: center;
    font-size: var(--small-font-size);
    margin-top: -1rem;
}

.grid {
    display: grid;
    grid-gap: var(--m-1);
}


/* header  */

.header {
    width: 100%;
    background-color: var(--primary-color);
    z-index: var(--z-fixed);
    position: fixed;
}

.header-color-mobile {
    background-color: var(--text-color);
}

.nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Nav-logo */

.nav__logo {
    display: flex;
    justify-content: end;
    font-size: 1.4rem;
    font-weight: var(--font-bold);
}

.nav__logo-frist {
    color: var(--primary-color-two);
}

.nav__logo-last {
    color: var(--primary-color-one);
}


/* Nav burger-menu */

.nav__toggle {
    height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.nav__toggle span {
    display: block;
    width: 28px;
    height: 2px;
    background-color: var(--primary-color-three);
    transition: all .5s;
}


/* Animation of nav-toggle */

.nav__toggle .garis1 {
    transform-origin: 0 0;
}

.nav__toggle .garis2 {
    transform-origin: 0 100%;
}


/* ~ namanya adalah sibling untuk mencari sodara kandung */

.garis1Rotation {
    transform: rotate(45deg) translate(-4px, -5px);
}

.garis2Rotation {
    transform: rotate(-45deg) translate(-1px, 1px);
}


/* Show menu */

@media (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        background-color: var(--text-color);
        justify-content: center;
        transition: all .4s;
        opacity: 0;
    }
}

.nav__lists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    margin: var(--m-1);
    font-size: var(--normal-font-size);
}

.nav__link {
    position: relative;
    display: inline-block;
    color: var(--primary-color-two);
    padding: 0 var(--m-2);
}

.nav__link::before,
.nav__link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--title-color);
    transform: scaleX(0);
    transition: transform .25s;
}

.nav__link::before {
    top: -20x;
    transform-origin: left;
}

.nav__link::after {
    bottom: -3px;
    transform-origin: right;
}

.nav__link:hover::before,
.nav__link:hover::after {
    transform: scaleX(1);
}


/* style Open menu */

.open {
    display: flex;
    background-color: var(--text-color);
    opacity: 1;
    top: 3rem;
}


/* Style for Home */

.home__container {
    grid-template-areas: 'home__avatar' 'home__data';
    margin-top: var(--m-1-5);
    row-gap: var(--m-2);
    justify-items: center;
}

.home__avatar {
    grid-area: home__avatar;
    padding: var(--m-2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__avatar-img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: var(--m-0-75);
}

.home__avatar-title {
    font-size: var(--bigt-font-size);
    font-weight: var(--font-bold);
    color: var(--text-color);
    letter-spacing: -1px;
}

.home__avatar-skill {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
}

.home__avatar-skill p {
    color: var(--primary-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
    margin: 0 var(--m-0-5);
}

.home__avatar-img,
.home__avatar-sosmed a {
    background-color: var(--primary-color-two);
}

.home__avatar-title,
.home__avatar-sosmed a {
    color: var(--text-color);
}

.home__avatar-sosmed {
    display: flex;
    justify-content: space-between;
}

.home__avatar-sosmed a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 10px;
    font-size: var(--m-2);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.home__avatar-download {
    margin-top: var(--m-2-5);
}

.home__data {
    display: flex;
    flex-direction: column;
    grid-area: home__data;
}

.home__data-title {
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
    text-align: start;
}

.home__data-description {
    color: var(--primary-color);
    text-align: justify;
    font-weight: var(--font-reguler);
    font-size: var(--normal-font-size);
}

.home__chat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__avatar-chat {
    margin-top: var(--m-2);
    width: max-content;
}


/* style untuk about */

.about__container {
    grid-template-areas: 'section__header' 'about__header' 'about__data';
    grid-gap: 0;
}

.about__header {
    grid-area: about__header;
}

.about__img {
    display: flex;
    justify-content: center;
}

.about__img-picture {
    width: 80%;
}

.about__discription {
    margin: 5rem 0 5rem 0;
    text-align: justify;
    font-size: var(--normal-font-size);
    font-weight: var(--font-reguler);
    color: var(--text-color);
}

.about__data {
    width: 100%;
    grid-area: about__data;
    background-color: var(--text-color);
    padding-bottom: var(--m-8);
}

.about__experience-title {
    text-align: center;
    margin: var(--m-2) 0;
    color: var(--primary-color-three);
}

.about__container-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--m-1-5);
    background-color: var(--primary-color);
    margin: 5px 0;
    border-radius: var(--m-0-5);
}

.card__header {
    margin: var(--m-1) 0;
}

.card__footer {
    text-align: center;
    margin-top: var(--m-1-5);
}

.card__title {
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    color: var(--primary-color-three);
}

.card__description {
    font-weight: var(--font-reguler);
    font-size: var(--smaller-font-size);
    color: var(--primary-color-one);
}

.card__details {
    padding: var(--m-1);
    color: var(--primary-color-one);
    font-size: var(--normal-font-size);
    text-align: center;
}


/*========== style skill =================*/

.skills__container {
    grid-template-rows: 1fr;
    grid-template-areas: 'section__header' 'skills__data-container';
    margin-bottom: var(--m-3);
}

.skill__data-container {
    grid-area: skills__data-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill__card {
    width: 100%;
    padding: var(--m-1);
    margin-bottom: var(--m-1);
}

.skill__card-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: var(--m-0-5);
    padding: var(--m-1);
    margin-bottom: var(--m-1-5);
    box-shadow: var(--transparancy-color4) 0px 2px 4px 0px inset;
}

.skill__card-data i {
    display: inline-block;
    font-size: var(--m-2);
    color: var(--title-color);
}

.skill__card-header {
    text-align: center;
}

.skill__card-header h3 {
    color: var(--text-color);
}

.skill__card-header p {
    margin-top: -0.5rem;
    font-size: var(--smaller-font-size);
    color: var(--primary-color);
}

.skill__data-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill__data-title h3,
.skill__data-title p {
    font-size: var(--m-1);
    color: var(--primary-color);
}

.skill__name,
.skill__percentage {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.skill__bar {
    display: block;
    width: 100%;
    height: var(--m-0-5);
    display: flex;
    align-items: center;
    background-color: var(--primary-color-one);
}

.skill__bar-percent {
    display: block;
    height: var(--m-0-5);
    background-color: var(--title-color);
}

.skill__figma,
.skill__html {
    width: 80%;
}

.skill__css {
    width: 85%;
}

.skill__webpack,
.skill__golang,
.skill__php,
.skill__nodejs,
.skill__mongodb {
    width: 60%;
}

.skill__adobePhoto,
.skill__mysql {
    width: 70%;
}

.skill__adobeXd,
.skill__js,
.skill_boostrap {
    width: 75%;
}

.skill__reactjs {
    width: 50%;
}

.skill__install,
.skill__spss {
    width: 90%;
}

.skill__close .skills__list {
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list {
    height: max-content;
}

.skill__details {
    transition: all .4s;
}

.skill__open .skill__details {
    transform: rotate(-180deg);
}


/*================== Style service =================*/

.service {
    background-color: var(--primary-color-two);
}

.service__container {
    grid-template-rows: 1fr;
    grid-template-areas: 'section__header' 'service__content';
    padding-bottom: var(--m-3);
}

.service__content {
    width: 100%;
    grid-area: service__content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service__card {
    width: 100%;
    height: max-content;
    background-color: var(--primary-color-three);
    border-radius: 10px;
    padding: var(--m-1);
    margin-bottom: var(--m-3);
    padding: var(--m-3) var(--m-1);
    box-shadow: var(--transparancy-color4) 0px 3px 12px;
}

.service__card-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__img {
    margin: var(--m-1) 0 var(--m-2) 0;
}

.service__img i {
    color: var(--title-color);
    font-size: var(--m-1-5);
    background-color: var(--primary-color-two);
    padding: 1rem;
    border-radius: 50%;
}

.service__subtitle {
    text-align: center;
    font-weight: var(--font-reguler);
    font-size: var(--small-font-size);
}

.service__contact {
    background-color: var(--text-color);
}

.service__contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--m-3);
}

.service__contact-title {
    font-size: var(--m-2);
    font-weight: var(--font-semi-bold);
    text-align: center;
    color: var(--primary-color-three);
}

.service__contact__subtitle {
    margin-top: var(--m-1);
    color: var(--primary-color-one);
}

.service__contact-link {
    text-align: center;
    width: max-content;
    margin: var(--m-3) 0 var(--m-3) 0;
}

.service__contact-img {
    display: flex;
    justify-content: center;
}


/* Style work */

.work__container {
    grid-template-rows: 1fr;
    grid-template-areas: 'section__header' 'work__container-card';
}

.work__container-card {
    grid-area: work__container-card;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work__card {
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
    top: 0;
    width: 17rem;
    height: 17rem;
    border-radius: .5rem;
    padding: 0;
    cursor: pointer;
    margin: var(--m-1);
}

.work__card-img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.card__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    bottom: -100%;
    justify-content: center;
    border-radius: .5rem;
    transition: .3s;
    background: var(--transparancy-color3);
    padding: 5px;
}

.work__card-link {
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    color: var(--title-color);
}

.work__title {
    font-weight: var(--font-bold);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

.work__subtitle {
    color: var(--primary-color);
    font-size: var(--small-font-size);
}

.work__card:hover .card__container {
    bottom: 0 !important;
}


/* Style for contact */

.contact__container {
    grid-template-areas: 'section__header' 'contact__content';
}

.contact__content {
    grid-area: contact__content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--m-1);
}

.card__contact-info {
    width: max-content;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: var(--m-0-5);
    width: 100%;
}

.card__contact-info i {
    color: var(--primary-color-one);
    font-size: var(--bigt-font-size);
}

.card__contact-info a {
    color: var(--primary-color-three);
    font-size: var(--normal-font-size);
    margin-left: var(--m-1-5);
}

.contact__message {
    margin: var(--m-1);
}

.contact__message-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-input {
    width: 100%;
    padding: var(--m-1);
    outline: none;
    border: none;
    background-color: var(--primary-color-one);
    color: var(--primary-color);
    margin: var(--m-0-5) 0 var(--m-0-5) 0;
    border-radius: 5px;
}

.send__button {
    width: max-content;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    margin: var(--m-3) 0;
    text-decoration: none;
    padding: var(--m-1) var(--m-2);
}

.contact__button:hover {
    color: var(--primary-color-one);
    background-color: var(--primary-color);
}


/* style content footer */

.footer {
    margin-top: var(--header-height);
    padding: var(--m-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color-two);
}

.footer__copy {
    color: var(--primary-color);
    font-size: var(--small-font-size);
    text-align: center;
    margin-top: var(--m-1);
}

@media (min-width: 768px) {
    .container-margin {
        max-width: 100%;
        margin-left: var(--m-3);
        margin-right: var(--m-3);
    }
    .nav__toggle {
        display: none;
    }
    .nav__logo {
        width: 20%;
        justify-content: start;
    }
    .nav__menu {
        width: 80%;
    }
    .nav__lists {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
    }
    .nav__link {
        padding: 0 0;
    }
    /* style container */
    .section {
        padding-top: var(--m-8);
    }
    /* Style About */
    .about__img-picture {
        width: 50%;
    }
    .card {
        flex-direction: column;
        width: 40%;
        height: auto;
        margin: 10px;
    }
    .card__header {
        text-align: center;
    }
    /* Styling skill */
    .skill__card {
        width: 50%;
    }
    .skills__container {
        padding-bottom: var(--m-8);
    }
    /* style service */
    .service__card {
        width: 45%;
        height: 20rem;
        margin: var(--m-0-5);
    }
    /* Styling contact */
    .contact__content {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
}


/* Medium devices (tablets, less than 992px) */

@media (min-width: 992px) {
    /* styling home */
    /* Styling about */
    .card {
        width: 30%;
        height: 20rem;
    }
    .service__contact-container {
        padding-top: var(--m-8);
        flex-direction: row;
        justify-content: center;
    }
    .service__contact-img img {
        width: 70%;
    }
}


/* Large devices (desktops, less than 1200px) */

@media (min-width: 1200px) {
    /* Style About */
    .about__img-picture {
        width: 40%;
    }
    /* styling service */
    .service__contact-img img {
        width: 90%;
    }
    /*styling  Contact */
    .message-input {
        font-size: var(--smaller-font-size);
    }
}


/* X-Large devices (large desktops, less than 1400px) */

@media (min-width: 1400px) {
    /* Base */
     :root {
        --h1-font-size: 2.5rem;
        --h2-font-size: 2.1rem;
        --h3-font-size: 1.55rem;
        --bigt-font-size: 3.634rem;
        --normal-font-size: 1.338rem;
        --small-font-size: 1.213rem;
        --smaller-font-size: 1.05rem;
    }
    .container-margin {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    /* Styling home */
    .home__avatar-img {
        width: 260px;
        height: 260px;
    }
}