/* font */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;500;600&family=Poppins:wght@400;500;600&family=Quicksand:wght@300;400;500;600&family=Raleway:wght@300;400;500&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

/* Base */

:root {
    --header-height: 56px;
    /* color */
    /*Color mode HSL*/
    --color-hue: 93;
    --primary-color: hsl(var(--color-hue), 76%, 51%);
    --primary-color-one: hsl(var(--color-hue), 6%, 19%);
    --primary-color-two: hsl(var(--color-hue), 6%, 14%);
    --primary-color-three: hsl(var(--color-hue), 19%, 8%);
    --title-color: hsl(var(--color-hue), 0%, 100%);
    --text-color: hsl(var(--color-hue), 3%, 51%);
    --body-color: var(--primary-color-one);
    --container-color: var(--primary-color-two);
    --transparancy-color: hsl(var(--color-hue), 76%, 51%, .4);
    /* Font and typography*/
    /* 
        conver font:
        cek web: https://type-scale.com/ 
        1rem=16px, 1.5rem = 24px...
    */
    --body-font: 'Roboto Condensed', sans-serif;
    --bigt-font-size: 2.5rem;
    --h1-font-size: 2.2rem;
    --h2-font-size: 1.7rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1.30rem;
    --small-font-size: 1.10rem;
    --smaller-font-size: 0.90rem;
    /*Font weight*/
    --font-reguler: 300;
    --font-semi-bold: 500;
    --font-bold: 700;
    /*Margin*/
    /* 8px = .5rem, 16px = 1rem , 68px = 4.25rem*/
    --m-0-25: 0.25rem;
    --m-0-5: 0.5rem;
    --m-0-75: 0.75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    --m-3: 3rem;
    --m-8: 8rem;
    /*z index*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/* Css reset */

a {
    text-decoration: none;
}

menu,
ol,
ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
}

textarea {
    white-space: revert;
}

::placeholder {
    color: unset;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* styling */

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--primary-color-two);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}


/* style container */

.main {
    overflow: hidden;
}

.section {
    margin-top: var(--m-8);
    margin-bottom: var(--header-height);
}


/* section__title atau section__subtitle dibuat untuk membuat style secara global yang menunjukan sebuah 
    title atau judul section/topik */

.section__header {
    margin-bottom: var(--m-3);
}

.section__title {
    font-weight: var(--font-bold);
    text-align: center;
    font-size: var(--bigt-font-size);
}

.section__subtitle {
    font-weight: var(--font-reguler);
    text-align: center;
    font-size: var(--small-font-size);
    margin-top: -5px;
}

.section__container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/*Layout component*/

.container-margin {
    margin-left: var(--m-1-5);
    margin-right: var(--m-1-5);
}

.container-layout {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
}

.button {
    font-size: var(--normal-font-size);
    color: var(--primary-color);
    font-style: italic;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    transition: .3s;
}

.button:hover {
    color: var(--text-color);
}


/* Membuat card */

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--primary-color-two);
    margin: var(--m-1) 0 var(--m-1) 0;
    border-radius: 5px;
}

.card__header {
    text-align: center;
    margin: var(--m-1) 0 var(--m-1) 0;
}

.card__footer {
    text-align: center;
    margin-top: var(--m-1-5);
}

.card__title {
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
}

.card__subtitle {
    font-weight: var(--font-reguler);
    font-size: var(--small-font-size);
    font-weight: var(--font-reguler);
}

.card__description {
    font-weight: var(--font-reguler);
    font-size: var(--smaller-font-size);
    text-align: justify;
}

.card__details {
    padding: var(--m-1);
    color: var(--primary-color);
    font-size: var(--normal-font-size);
    text-align: center;
}

.icon__sosmed a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-one);
    padding: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    color: var(--primary-color);
    font-size: var(--m-2-5);
    overflow: hidden;
}


/* header  */

.header {
    width: 100%;
    background-color: var(--primary-color-two);
    position: fixed;
    left: 0;
    right: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Nav-logo */

.nav__logo {
    display: flex;
    align-items: center;
    font-size: 1.50rem;
    font-weight: var(--font-bold);
}

.nav__logo-frist {
    color: var(--title-color);
}

.nav__logo-last {
    color: var(--primary-color);
}


/* Nav burger-menu */

.nav__burger span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 99999px;
    background-color: var(--primary-color);
    z-index: var(--z-modal);
}

.nav__burger span:not(:last-child) {
    margin-bottom: 8px;
}

.nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-two);
    width: 100%;
    padding: 3.5rem;
    transition: 0.7s;
}

.nav__item {
    margin: var(--m-2-5);
}

.nav__link {
    color: var(--primary-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.nav__link:hover {
    text-decoration: underline;
}


/* Open menu */

.open {
    top: 0;
}


/* Style for Home */

.home__container {
    margin-top: 5rem;
}

.home__avatar {
    padding: var(--m-2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__avatar-img {
    display: block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: var(--primary-color-one);
    margin-bottom: var(--m-0-75);
}

.home__avatar-title {
    font-size: var(--bigt-font-size);
    font-weight: var(--font-bold);
    color: var(--title-color);
}

.home__avatar-skill {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.home__avatar-skill p {
    color: var(--primary-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}

.home__avatar-sosmed {
    display: flex;
    justify-content: space-between;
}

.home__download {
    text-align: center;
    margin-bottom: var(--m-2-5);
}

.home__data {
    margin-top: var(--header-height);
}

.home__data h3 {
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--m-1);
}

.home__data p {
    text-align: justify;
    font-weight: var(--font-reguler);
    font-size: var(--normal-font-size);
}

.home__letChat {
    margin-top: var(--header-height);
    text-align: left;
}


/* style untuk about */

.about__container {
    margin-top: var(--header-height);
}

.about__discription {
    margin: 5rem 0 5rem 0;
    text-align: justify;
    font-size: var(--normal-font-size);
    font-weight: var(--font-reguler);
    color: var(--text-color);
}

.about__data {
    background-color: var(--primary-color-one);
    padding-bottom: var(--m-8);
}

.about__experience-title {
    text-align: center;
    margin: 10px 0 10px 0;
}

.about__img {
    display: flex;
    justify-content: center;
}

.about__img-picture {}


/* style skill */

.skill__card {
    background-color: var(--primary-color-one);
    padding: var(--m-1);
    border-radius: 5px;
    margin-bottom: var(--m-3);
}

.skill__card-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill__card-data i {
    display: inline-block;
    font-size: var(--m-2);
    color: var(--primary-color);
}

.skill__card-header {
    text-align: center;
}

.skill__card-header p {
    font-size: var(--smaller-font-size);
}

.skill__data {
    margin: var(--m-2) 0 var(--m-2-5) 0;
}

.skill__data-title h3,
.skill__data-title p {
    font-size: var(--m-1);
}

.skill__data-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill__name,
.skill__percentage {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.skill__bar {
    display: block;
    width: 100%;
    height: var(--m-0-5);
    display: flex;
    align-items: center;
    background-color: var(--primary-color-two);
}

.skill__bar-percent {
    display: block;
    height: var(--m-0-5);
    background-color: var(--primary-color);
}

.skill__figma,
.skill__html {
    width: 80%;
}

.skill__css {
    width: 85%;
}

.skill__webpack,
.skill__golang,
.skill__php,
.skill__nodejs,
.skill__mongodb {
    width: 60%;
}

.skill__adobePhoto,
.skill__mysql {
    width: 70%;
}

.skill__adobeXd,
.skill__js,
.skill_boostrap {
    width: 75%;
}

.skill__reactjs {
    width: 50%;
}

.skill__close .skills__list {
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list {
    height: max-content;
    transform: rotateY(-60deg);
}

.skill__details {
    transition: .4s;
}

.skill__open .skill__details {
    transform: rotate(-180deg);
}


/* Style service */

.service__card {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: var(--m-1);
    margin-bottom: var(--m-3);
}

.service__card-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__card-data .service__img {
    background-color: var(--primary-color-one);
    padding: var(--m-1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__img i {
    color: var(--primary-color);
    font-size: var(--m-1-5);
}

.service__subtitle {
    margin-top: var(--m-1-5);
    text-align: center;
    font-weight: var(--font-reguler);
    font-size: var(--small-font-size);
}

.service__contact {
    background-color: var(--primary-color-one);
}

.service__contact-cntainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__contact-header {
    margin-top: var(--m-3);
}

.service__contact-title {
    font-size: var(--m-2);
    font-weight: var(--font-semi-bold);
    text-align: center;
}

.service__contact__subtitle {
    margin-top: var(--m-1);
    color: var(--title-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-reguler);
}

.service__contact-link {
    text-align: center;
    margin: var(--m-3) 0 var(--m-3) 0;
}


/* Style work */

.work__card {
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
    top: 0;
    width: 80%;
    height: 80%;
    border-radius: .5rem;
    padding: 0;
}

.work__card-img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.card__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    bottom: -100%;
    justify-content: center;
    border-radius: .5rem;
    transition: .3s;
    background: var(--transparancy-color);
    padding: 5px;
}

.work__card-link {
    font-size: var(--bigt-font-size);
    color: var(--primary-color-two);
}

.card__header {
    margin-top: var(--m-1);
}

.work__title,
.work__subtitle {
    color: var(--title-color);
}

.work__card:hover .card__container {
    bottom: 0 !important;
}


/* Style for contact */

.contact__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__info {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.contact__info i {
    color: var(--primary-color);
    font-size: var(--m-2);
}

.contact__info p {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    padding: 5px;
}

.contact__message {
    margin-top: var(--m-3);
}

.contact__message-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-input {
    width: 100%;
    padding: var(--m-1);
    outline: none;
    border: none;
    background-color: var(--primary-color-one);
    color: var(--primary-color);
    margin: var(--m-0-5) 0 var(--m-0-5) 0;
    font-size: var(--small-font-size);
    border-radius: 5px;
}

.contact__button {
    width: 70%;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    background-color: var(--primary-color-one);
    color: var(--primary-color);
    cursor: pointer;
    margin-top: var(--m-2);
    text-decoration: none;
}

.contact__button:hover {
    color: var(--primary-color-one);
    background-color: var(--primary-color);
}


/* style content footer */

.footer {
    padding: var(--m-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color-three);
}

.footer__copy {
    color: var(--title-color);
    font-size: var(--small-font-size);
    text-align: center;
    margin-top: var(--m-1);
}